<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://JAVA.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/applicationContext.xml,classpath*:/spring-shiro.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 中文字符编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 前端拦截器 -->
	<servlet>
		<servlet-name>spring-mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-mvc</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<!-- session超时时间（单位：分钟） -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	
	<!-- HttpSession缓存代理过滤器 -->
	<filter>
        <filter-name>httpSessionWrapperFilter</filter-name>
        <filter-class>com.ule.oa.admin.session.filter.HttpSessionWrapperFilter</filter-class>
        <init-param>
            <param-name>sessionId</param-name>
            <param-value>sessionId</param-value>
        </init-param>
        <init-param>
            <param-name>ignores</param-name>
            <param-value>/static</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>httpSessionWrapperFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	
	<filter>
		<filter-name>shiroSecurityFilter</filter-name>
		<filter-class>com.ule.oa.admin.security.ShiroDelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
		    <param-name>ignores</param-name>
		    <param-value>/static</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroSecurityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 默认跳转页面 -->
	<welcome-file-list>  
	    <welcome-file>/WEB-INF/pages/security/login.jsp</welcome-file>  
	</welcome-file-list>
	
	<!-- 找不到路径 -->
	<error-page>
        <error-code>302</error-code>
        <location>/WEB-INF/pages/security/login.jsp</location>
    </error-page>
	
	<!-- 找不到路径 -->
	<error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pages/error/404.jsp</location>
    </error-page>
    
    <!-- 找不到路径 -->
	<error-page>
        <error-code>503</error-code>
        <location>/WEB-INF/pages/error/503.jsp</location>
    </error-page>

</web-app>
