<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<!-- 配置ule-oa-DataSource数据源 beta-->
	<bean id="dataSource"  class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.ule_oa-master.url}"></property>
		<property name="username" value="${jdbc.ule_oa-master.username}"></property>
		<property name="password" value="${jdbc.ule_oa-master.password}"></property>
		<property name="initialSize" value="${jdbc.ule_oa-master.initialSize}"></property>
		<property name="minIdle" value="${jdbc.ule_oa-master.minIdle}"></property>
		<property name="maxActive" value="${jdbc.ule_oa-master.maxActive}"></property>		
        <property name="maxWait" value="${jdbc.ule_oa-master.maxWait}" />
        <property name="testOnBorrow" value="false" />
        <property name="testOnReturn" value="false" />	
        <property name="testWhileIdle" value="true" />
        <property name="validationQuery" value="${jdbc.ule_oa-master.validationQuery}" />
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
	</bean>
	
	<!-- 配置tom-oa-DataSource数据源
	<bean id="dataSource"  class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.tom_oa-master.url}"></property>
		<property name="username" value="${jdbc.tom_oa-master.username}"></property>
		<property name="password" value="${jdbc.tom_oa-master.password}"></property>
		<property name="initialSize" value="${jdbc.tom_oa-master.initialSize}"></property>
		<property name="minIdle" value="${jdbc.tom_oa-master.minIdle}"></property>
		<property name="maxActive" value="${jdbc.tom_oa-master.maxActive}"></property>		
        <property name="maxWait" value="${jdbc.tom_oa-master.maxWait}" />
        <property name="testOnBorrow" value="false" />
        <property name="testOnReturn" value="false" />	
        <property name="testWhileIdle" value="true" />
        <property name="validationQuery" value="${jdbc.tom_oa-master.validationQuery}" />
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
	</bean> -->
</beans>